body {
	font-family: "Montserrat", sans-serif;
}

.custom-shape-divider-top-1635960555 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1635960555 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 177px;
}

.custom-shape-divider-top-1635960555 .shape-fill {
    fill: #fb809c;
}


html {
	scroll-behavior: smooth;
}

a {
	text-decoration: inherit;
	color: inherit;
}

.padding-1 {
	padding: 50px 0;
}

.margin-1 {
	padding: 15rem 0;
}

.margin-2 {
	padding: 5rem 0;
}

.margin-3 {
	margin-top: 10rem;
}

.underline-style {
	text-decoration-line: underline;
	text-decoration-style: solid;
	text-decoration-color: #5ed289;
	text-decoration-thickness: 5px;
}

.padding-v {
	padding: 10rem 0 2rem 0;
}

.padding-d {
	padding-bottom: 5rem;
}
