body {
	font-family: "Montserrat", sans-serif;
}

.custom-shape-divider-top-1635960555 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1635960555 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 177px;
}

.custom-shape-divider-top-1635960555 .shape-fill {
    fill: #f1f0fe;
}


html {
	scroll-behavior: smooth;
}

a {
	text-decoration: inherit;
	color: inherit;
}

.padding-1 {
	padding: 50px 0;
}

.margin-1 {
	padding: 15rem 0;
}

.margin-2 {
	padding: 5rem 0;
}

.margin-3 {
	margin-top: 10rem;
}

.underline-style {
	text-decoration-line: underline;
	text-decoration-style: solid;
	text-decoration-color: #5ed289;
	text-decoration-thickness: 5px;
}

.padding-v {
	padding: 10rem 0 2rem 0;
}

.padding-d {
	padding-bottom: 5rem;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

.area{
	animation: slideInFromBottom 1s ease-in;
}

.social-icons{
	animation: FadeIn 2.5s ease-in;
}

.img-right{
	animation: slideInFromRight 1s ease-in;
}


.copy{
	animation: slideInFromLeft 1s ease-in;
}

