<!DOCTYPE html>
<html lang="en-us">
	<head>
		<title>My Resume</title>
		<link rel="stylesheet" type="text/css" href="/styles/styles.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
	</head>
	
	<body>
	
		<div class="col-12">
				<h1 style="text-align:center;">Mark-Anthony Jones</h1>
				<p style="text-align:right;">43 Wiggan Loop, Barbican Mews</p>
				<p style = "text-align:right;"><a href="jmarkanthony.062@gmail.com">jmarkanthony.062@gmail.com</a>, (876)782-6847 </p>
			<hr>
		</div>
		
	<section>
		<div class="col-12">
			<article>
				<p><u>OBJECTIVES</u></p>
			<br>
				<p>Seeking position of a Software Engineer at Nexus Towers where I'll be able to apply the knowledge I've obtained in the field</p>
			</article>
		</div>
		<br>
		<div class="col-6">
			<article>
				<p><u>SKILLS</u></p>
			<br>
				<p><li>Adaptable to the changes in the Software Engineering market and environment</li></p>
				<p><li>Complete mastery of website design</li></p>
				<p><li>Proficiency in the use of Adobe Photoshop</li></p>
				<p><li>Possesses the ability to analyze and develop the most effective and cost efficient solutions</li></p>
			</article>
		<br>
		<br>
		
		
			<p><u>COMPUTER SKILLS</u></p>
		<br>
			<p><li>Programming Languages: Python, Java, C, Pascal</li></p>
			<p><li>Operating Systems: Windows 10, Mac OS, Linux, Ubuntu</li></p>
			<p><li>Hardware: Construction of Personal Computer towers and modems</li></p>
			
		<br>
			<p><u>PROFESSIONAL EXPERIENCE</u></p>
		<br>
			<p><li>Guardian Group Limited - 3 Trafalgar Rd. Jamaica W.I.</li></p>
			<p>2016-Present</p>
		<br>
			<p>Clerk</p>
		<br>
			
				<p><li>Data Entry</li></p>
				<p><li>Filing</li></p>
		</div>
	</section>	
	
	<footer>
		<a href="gallery.html">My Island Home</a>  
		<a href="resume.html">My Resume</a>  
		<a class="active" href="index.html">Home</a>  
		<a href="showcase.html">My Mobile Apps</a>
		<p>© 2017 Mark-Anthony Jones. All Rights Reserved.</p>
		<p>Contact me <a href = "https://www.facebook.com/SrMaJ">here</a>
	</footer>	
	</body>
</html>
