<!DOCTYPE html>
	<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Home || Mark-Anthony Jones</title>
		<link rel="stylesheet" type="text/css" href="/styles/styles.css">
	</head>
<body>

	<ul>
		<li><a class="active" href="file:///C:/Users/mark_/Desktop/SWEN1005%20-%20Mark-Anthony%20Jones%20-%20620100797%20-%20Lab%202/MyHomepage.html">Home</a></li>
		<li><a href="file:///C:/Users/mark_/Desktop/SWEN1005%20-%20Mark-Anthony%20Jones%20-%20620100797%20-%20Lab%202/MyIslandHome.html">My Island Home</a></li>
		<li><a href="file:///C:/Users/mark_/Desktop/SWEN1005%20-%20Mark-Anthony%20Jones%20-%20620100797%20-%20Lab%202/MyResume.html">My Resume</a></li>
		<li><a href="file:///C:/Users/mark_/Desktop/SWEN1005%20-%20Mark-Anthony%20Jones%20-%20620100797%20-%20Lab%202/MyMobileApps.html">My Mobile Apps</a></li>
	</ul>

	<div class="col-6">
		<h1>Android Application Services</h1>
			<p>Convert an existing 3 page website to a mobile responsive site - $99 USD</p>
			<p>Convert an existing 5 page website to a mobile responsive site - $149 USD</p>
			<p>Create a mobile application:</p>
			<p><li>Native: $999 - $1999 USD based on the platform</li></p>
			<p><li>Web-based: $499 - $999 USD</li></p>
			<p><li>Hybrid: $999 - $1999 USD based on the platform</li></p>
	</div>



	<div class="col-3">
		<h1>Existing Apps</h1>
			<p>Talk to Me is the new in thing! Imagine having an app that will have a full conversation with you. No longer will you be in bed at 3 A.M. with no one to talk to!</p>
			<p>Bounce Ball is a very fun app where you try to keep the red ball from hitting the edges. Good luck and have fun!</p>
			<a href="fhttps://drive.google.com/open?id=0B2mCtdrVe7KZczZPcjJkWlZqSkE">Click here to download.</a>
	</div>

	<footer>
		<a href="gallery.html">My Island Home</a>  
		<a href="resume.html">My Resume</a>  
		<a class="active" href="index.html">Home</a>  
		<a href="showcase.html">My Mobile Apps</a>
		<p>© 2017 Mark-Anthony Jones. All Rights Reserved.</p>
		<p>Contact me <a href = "https://www.facebook.com/SrMaJ">here</a>
	</footer>

</body>
</html>