:root{
    --primary-color: #000000;
    --secondary-color: #FFFFFF;
    --social-color: #8d99ae;
    --boxes: #f8f32b;
    --menu-speed: 0.75s;
}

html, body{
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, span{
    font-family: 'Russo One', sans-serif;
}

.logo{
    color: var(--secondary-color);
    font-family: 'Russo One', sans-serif;
}

/*Navigation Bar with Hamburger Menu for Mobile*/

p,nav a{
    font-family: 'Space Mono', monospace;
}

nav{
    display: flex;
}

nav a{
    width: 20%;
    padding: 20px;
    text-align: center;
}

.navigation{
    width: 80%;
    background-color: var(--primary-color);
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10% 0 10%;
}

.navigation label, #hamburger{
    display: none;
    color: var(--secondary-color);
}


a{
    text-decoration: none;
    color: var(--secondary-color);
}


/* Main page borders and the navigation bar*/

.main-container{
    width: 100%;
    margin: auto;
}

.container{
    width: 80%;
    margin: auto;
    padding: 10%;
}

/* Introduction section of the page*/

.intro{
    padding: 20% 0;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'profile-1 intro-text'
    ;
}
.intro-text{
    grid-area: intro-text;
    align-self: center;
    justify-self: center;
}

.profile-1{
    grid-area: profile-1;
    display:block;
    align-self: center;
    justify-self: center;
}

.button-wrapper{
    display: flex;
    justify-content: space-between;
    width: 220px;
    margin: auto;
}

#github{
    background-color: var(--social-color);
    padding: 5px 10px;
    border-radius: 25px;
    font-family: 'Slabo 27px', serif;
    font-weight: bold;
}

#linkedin{
    background-color: var(--social-color);
    padding: 5px 10px;
    border-radius: 25px;
    font-family: 'Slabo 27px', serif;
    font-weight: bold;
}

/* Styling for the 1st picture*/

#pic-1{
    width: 312px;
    height: 312px;
}



/* The about section */

.about{
    width: 80%;
    margin: auto;
    background-color: var(--secondary-color);
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    'window-buttons'
    'about-me';
}

.window-buttons{
    grid-area: window-buttons;
    display: flex;
    justify-content: flex-end;
    background-color: var(--social-color);
    border-radius: 5px 5px 0 0;
}

.window-buttons>div{
    padding: 8px 10px 8px 10px;
}

.about-me{
    grid-area: about-me;
    display: flex;
    padding: 5%;
}

.about-text{
    grid-area: about-text;
}

#pic-2{
    width: 256px;
    height: 256px;
}

.profile-2{
    grid-area: profile-2;
    align-self: center;
    justify-self: center;
    padding: 5%;
}

/* Knowledge area and Resume section*/

.skills{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'knowledge resume'
    'certifications certifications'
    ;
    gap: 5%;
}

button{
    background-color: var(--social-color);
    font-family: 'Russo One', sans-serif;
    border-radius: 30px;
    padding: 10px;
    width: 200px;
}

.knowledge{
    grid-area: knowledge;
    align-self: center;
    justify-self: center;
}

.knowledge ul{
    list-style: none;
    font-family: 'Space Mono', monospace;
    background-color: var(--social-color);
    border-radius: 5px;
    margin: 5px;
}

.resume{
    grid-area: resume;
    justify-self: center;
}

#item{
    list-style: disc;
}

.certifications{
    width: 80%;
    grid-area: certifications;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    justify-self: center;
    padding: 10%;
    margin-top: 20px;
    text-align: center;
    border-radius: 5px;
}

/* Project Showcase */
.projects{
    width: 90%;
    background-color: var(--secondary-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'header header'
    'project-list project-list';
    gap: 2%;
    padding: 5%;
}

#about-me-header{
    grid-area: header;
    text-align: center;
}

/* ul>li{
    display: block;
    float: left;
} */


.project-list{
    grid-area: project-list;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
}

.card {
    background: white;
    text-decoration: none;
    color: #444;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    min-height: 100%;  
}
      
article {
    padding: 20px;
    flex: 1;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h3 {
    font-size: 20px;
    margin: 0;
    color: #333;
}

article>p {
    flex: 1;
    line-height: 1.4;
}

a>span {
    font-size: 12px;
    font-weight: bold;
    color: #999;
    text-transform: uppercase;
    letter-spacing: .05em;
    margin: 2em 0 0 0;
}

.thumbnail {
    padding-bottom: 60%;
    background-size: cover;
    background-position: center center;
}

/*Contact section*/
#email{
    font-family: 'Space Mono', monospace;
}

.contact{
    padding: 50px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
}

@media screen and (max-width: 800px){

    .navigation label{
        display: inline-block;
        padding: 10px;

    }

    .navigation{
        width: 100%;
        background-color: var(--primary-color);
        position: fixed;
        display: inline-block;
        padding: 0;
        height: fit-content;
    }

    .navigation .logo{
        display: none;
    }

    nav a{
        box-sizing: border-box;
        display: block;
        width: 100%;
        border-top: 1px solid var(--social-color);
        padding: 10px;
    }

    nav{ 
        display: none; 
    }

    .navigation input:checked ~ nav{
        display: block; 
    }

    .intro{
        padding-top: 140px;
        grid-template-columns: 1fr;
        grid-template-areas: 
        'profile-1'
        'intro-text'
        ;
    }

    .intro-text{
        justify-content: center;
        text-align: center;
    }

    .about{
        grid-template-columns: 1fr;
        grid-template-areas: 
        'window-buttons'
        'about-me'
        'profile-2';
    }

    .about-me{
        flex-direction: column;
    }

    .skills{
        background-color: var(--primary-color);
        color: var(--secondary-color);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        'knowledge'
        'resume'
        'certifications'
        ;
        gap: 0;
    }

    .skills .certifications{
        padding: 0;
    }

    .projects{
        width: 80%;
        margin: auto;
        padding: 10%;
        grid-template-columns: 1fr;
        grid-template-areas: 
        'header'
        'project-list' 
        ;
        gap: 20px;
        /* padding: 100px; */
    }

    .projects header{
        text-align: center;

    }

    .project-list{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 20px;
    }

    .window-buttons{
        display: none;
    }
}